Cloud_Architect_Workflow.json
{
  "name": "Cloud Architect Workflow",
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -280,
        40
      ],
      "id": "7a7d8971-c8fb-4b1e-be3d-f06cf8c6cdfa",
      "name": "Groq Chat Model7",
      "credentials": {
        "groqApi": {
          "id": "0ToxoyhuLOq8AF8P",
          "name": "Groq account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "all-minilm:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -60,
        220
      ],
      "id": "de680b71-7cc3-4c7c-b319-faad6596a8d3",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "dqKxdTg95sILOOot",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "The knowledge base to answer user questions",
        "qdrantCollection": {
          "__rl": true,
          "value": "knowledge_base_v1",
          "mode": "list",
          "cachedResultName": "knowledge_base_v1"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        -40,
        20
      ],
      "id": "b4528340-8660-48e6-a420-81ffc5dd3699",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "qAg98wkniOUQ9RVM",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        -220
      ],
      "id": "460c386f-8f8f-4f74-b9d3-57366fb28d57",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es un architecte cloud expert. Ta mission est de concevoir des infrastructures cloud sécurisées et scalables, et d’accompagner les entreprises dans leurs stratégies de migration hybride ou multi-cloud.\nTu raisonnes par étapes, en posant des questions ciblées pour bien comprendre les besoins métier, les contraintes techniques, les exigences de sécurité et le niveau de maturité cloud du client.\nTu adaptes ton langage au niveau de compétence du client (débutant, intermédiaire, avancé) afin de garantir une compréhension claire et un accompagnement adapté.\nTon approche est pragmatique, orientée vers la performance, la sécurité, la résilience et l’optimisation des coûts.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -180,
        -220
      ],
      "id": "f771f4af-6e8d-4a76-bf6a-0577a9984612",
      "name": "Cloud Architect"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -420,
        60
      ],
      "id": "2bb44623-bc84-4148-a1b7-cf7782908743",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kDmmT7LQfMoo1Q17",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model7": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Cloud Architect",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Cloud Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloud Architect": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Cloud Architect",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eda30139-c83f-412d-9df3-ba5139e94188",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b63d654d1de0f5a859ba5298a29f8c330e5bedbbd1735e2fe43d613a8857bf9e"
  },
  "id": "uTKXgs6G5yYoUBeZ",
  "tags": []
}