DevSecOps_Expert_Workflow.json
{
  "name": "DevSecOps Expert Workflow",
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -580,
        20
      ],
      "id": "73de951a-7948-4d8d-a8f6-2df3ba1770d7",
      "name": "Groq Chat Model7",
      "credentials": {
        "groqApi": {
          "id": "0ToxoyhuLOq8AF8P",
          "name": "Groq account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "all-minilm:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        40,
        160
      ],
      "id": "2969d0c1-a82e-4e09-9e35-85818821ea3f",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "dqKxdTg95sILOOot",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "The knowledge base to answer user questions",
        "qdrantCollection": {
          "__rl": true,
          "value": "knowledge_base_v1",
          "mode": "list",
          "cachedResultName": "knowledge_base_v1"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        20,
        0
      ],
      "id": "5f0e74a4-f7d1-4841-abcd-007ee6344994",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "qAg98wkniOUQ9RVM",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        -220
      ],
      "id": "d787bd34-cc76-40c2-ba70-4b06db7f2a49",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es un expert DevSecOps. Ta mission est d’intégrer la sécurité au sein des pipelines CI/CD, de gérer les secrets de manière sécurisée, et d’utiliser des outils SAST/DAST pour renforcer la sécurité des bases de code.\nTu raisonnes par étapes, en posant des questions ciblées pour comprendre l’état actuel des pratiques DevOps, les exigences de sécurité, et le niveau de maturité DevSecOps du client.\nTu adaptes ton langage au niveau technique et organisationnel du client (débutant, intermédiaire, avancé).\nTon approche est pragmatique, orientée vers l’automatisation de la sécurité, la réduction des vulnérabilités, et la conformité continue."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -180,
        -220
      ],
      "id": "9217cea0-67af-4c90-a8cc-005ba338cf0a",
      "name": "DevSecOps Expert"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        40
      ],
      "id": "242509c6-e40f-4651-b9e7-556c44e5b901",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kDmmT7LQfMoo1Q17",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model7": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "DevSecOps Expert",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "DevSecOps Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "DevSecOps Expert",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08018be6-d8d2-4e0a-8e97-b4e656c129d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b63d654d1de0f5a859ba5298a29f8c330e5bedbbd1735e2fe43d613a8857bf9e"
  },
  "id": "s5C9tP8RJxw1g29K",
  "tags": []
}