Evaluation.json
{
  "name": "Evaluation",
  "nodes": [
    {
      "parameters": {
        "content": "## Ai to generate questions ",
        "height": 80,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1020,
        -880
      ],
      "id": "a1797f6c-cfc8-4fae-99ef-e1fdf244eb9d",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1260,
        -700
      ],
      "id": "44fbf6fb-20ad-4d3e-98d6-9165eaa7c93d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -960,
        -400
      ],
      "id": "5bdd7a0f-aa22-40a5-85d0-3a7b79f17e0e",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "DwFYdIKBfTUfrxzY",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "all-minilm:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -620,
        -300
      ],
      "id": "3e36307c-9a17-4f85-a6f1-7da9fa5b80a4",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "dqKxdTg95sILOOot",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "The knowledge base to answer user questions",
        "qdrantCollection": {
          "__rl": true,
          "value": "knowledge_base_v1",
          "mode": "list",
          "cachedResultName": "knowledge_base_v1"
        },
        "topK": 40,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        -580,
        -480
      ],
      "id": "593fe581-6d6b-40fa-b4d4-084a9ecf3ef4",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "qAg98wkniOUQ9RVM",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Question generator ",
        "options": {
          "systemMessage": "=Générez 10 questions uniques avec des réponses précises à partir de la base de connaissances pour les tests d'évaluation.\n\n**CONTEXTE SPÉCIALISÉ** : Toutes les questions doivent porter exclusivement sur [DOMAINE/SUJET] - leur déploiement, fonctionnement, gestion, et bonnes pratiques.\n\n**EXIGENCES** \n* Couverture : 1+ question par section/sujet majeur dans la base de connaissances \n* Diversité maximale : Mélangez complexité (basique/intermédiaire/avancé) et types variés (définition/procédure/justification/dépannage/comparaison/conditions/organisation) \n* Aucun doublon : Chaque question doit aborder des aspects complètement différents - évitez les questions similaires \n* Réaliste : Utilisez un langage utilisateur naturel, reflétez les cas d'usage réels\n* Focus thématique : Chaque question doit explicitement mentionner ou concerner le domaine ciblé\n\n\n**PROCESSUS** \n1. Identifiez toutes les sections majeures dans la base de connaissances\n2. Créez des questions couvrant différentes sections, niveaux de complexité et types de questions variés\n3. Vérifiez qu'il n'y a aucun chevauchement entre les questions\n4. Assurez-vous d'une distribution équilibrée entre tous les types de questions\n\n**TYPES DE QUESTIONS À INCLURE**\n* Définitions et concepts (Qu'est-ce que...)\n* Procédures étape par étape (Comment...)\n* Justifications et bonnes pratiques (Pourquoi...)\n* Résolution de problèmes (Que faire si...)\n* Comparaisons (Quelle différence entre...)\n* Conditions et timing (Quand...)\n* Localisation et organisation (Où/Comment structurer...)\n\n**EXEMPLES DE FORMULATIONS :**\n- \"Comment [ACTION] dans [CONTEXTE] ?\"\n- \"Quels sont les [ÉLÉMENTS CLÉS] de [CONCEPT] ?\"\n- \"Pourquoi [PRATIQUE/DÉCISION] ?\"\n- \"Que faire si [PROBLÈME/SITUATION] ?\"\n- \"Quelle différence entre [OPTION A] et [OPTION B] ?\"\n\n**FORMAT DE SORTIE**\n```json\n[\n  {\n    \"user_question\": \"Question utilisateur naturelle sur le domaine\",\n    \"system_answer\": \"Réponse complète et précise de la base de connaissances\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -880,
        -700
      ],
      "id": "96608417-6cb9-4685-964b-ee4fc94a07f5",
      "name": "Question generator"
    },
    {
      "parameters": {
        "content": "## Evaluation",
        "height": 80,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        -140
      ],
      "id": "26a2c39f-8645-468a-9cf1-21ea0acf0c26",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bHaTwLafIGUcUOeb",
          "mode": "list",
          "cachedResultName": "test"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_question": "={{ $json.user_question }}"
          },
          "matchingColumns": [
            "user_question"
          ],
          "schema": [
            {
              "id": "user_question",
              "displayName": "user_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1380,
        140
      ],
      "id": "7a1964b8-f78a-48c3-907c-4782bfc537fe",
      "name": "Execute Workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Get the string from the \"output\" field\nconst rawOutput = $input.first().json.output;\n\n// Step 2: Use a regular expression to extract the JSON array string\nconst match = rawOutput.match(/\\[\\s*{[\\s\\S]*}\\s*\\]/);\n\n// Step 3: Parse and return the JSON array if match is found\nif (match) {\n  const parsedArray = JSON.parse(match[0]);\n  return parsedArray.map(obj => ({ json: obj }));\n} else {\n  throw new Error(\"No JSON array found in the 'output' field\");\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -700
      ],
      "id": "22ec2e09-020a-4d6c-b580-e6e68726f1ef",
      "name": "Structure data"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg",
          "mode": "list",
          "cachedResultName": "RAG Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1325469102,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit#gid=1325469102"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_question": "={{ $('When fetching a dataset row').item.json.user_question }}",
            "actual_answer": "={{ $json.output }}"
          },
          "matchingColumns": [
            "user_question"
          ],
          "schema": [
            {
              "id": "user_question",
              "displayName": "user_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "expected_answer",
              "displayName": "expected_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actual_answer",
              "displayName": "actual_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1120,
        140
      ],
      "id": "4b80ef0f-1baa-43a4-b302-0dd0692b9ea7",
      "name": "Add actual response",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYKdcBeku2xqJNTG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg",
          "mode": "list",
          "cachedResultName": "RAG Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1325469102,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit#gid=1325469102"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_question": "={{ $('When fetching a dataset row').item.json.user_question }}",
            "semantic_similarity": "={{ $json.semantic_similarity }}",
            "rating": "={{ $json.rating }}"
          },
          "matchingColumns": [
            "user_question"
          ],
          "schema": [
            {
              "id": "user_question",
              "displayName": "user_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "expected_answer",
              "displayName": "expected_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actual_answer",
              "displayName": "actual_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "semantic_similarity",
              "displayName": "semantic_similarity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -280,
        140
      ],
      "id": "7ad350db-2596-49fb-9b4e-22846501c5e4",
      "name": "Add similarity & rating",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYKdcBeku2xqJNTG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg",
          "mode": "list",
          "cachedResultName": "RAG Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1325469102,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit#gid=1325469102"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_question": "={{ $json.user_question }}",
            "expected_answer": "={{ $json.system_answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_question",
              "displayName": "user_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expected_answer",
              "displayName": "expected_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        -700
      ],
      "id": "18443316-e10c-42fa-b346-8de224b83c48",
      "name": "Add test data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYKdcBeku2xqJNTG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8002/evaluate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_question",
              "value": "={{ $('When fetching a dataset row').item.json.user_question }}"
            },
            {
              "name": "expected_answer",
              "value": "={{ $('When fetching a dataset row').item.json.expected_answer }}"
            },
            {
              "name": "actual_answer",
              "value": "={{ $json.actual_answer }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        140
      ],
      "id": "416c3179-d99f-40b8-8d10-f933f8bd7790",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1360,
        400
      ],
      "id": "947e5122-a2fa-44f9-aaac-b746ecf2a111",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg",
          "mode": "list",
          "cachedResultName": "RAG Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 287104701,
          "mode": "list",
          "cachedResultName": "Sheet4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit#gid=287104701"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_question",
              "lookupValue": "Comment évaluer l'efficacité d'un SOC ?"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        -1720,
        400
      ],
      "id": "7b72008c-d440-4be8-a34f-79a9a28b4ef3",
      "name": "When fetching a dataset row1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYKdcBeku2xqJNTG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1500,
        600
      ],
      "id": "a79e1a9e-26b1-485d-8553-c595119b610e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "uqmHUEUTCtLLCNZK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg",
          "mode": "list",
          "cachedResultName": "RAG Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 287104701,
          "mode": "list",
          "cachedResultName": "Sheet4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit#gid=287104701"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_question": "={{ $('When fetching a dataset row1').item.json.user_question }}",
            "llm_response": "={{ $json.output }}"
          },
          "matchingColumns": [
            "user_question"
          ],
          "schema": [
            {
              "id": "user_question",
              "displayName": "user_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "expected_answer",
              "displayName": "expected_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_response",
              "displayName": "llm_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_score",
              "displayName": "llm_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_rating",
              "displayName": "llm_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -980,
        400
      ],
      "id": "3c826cd9-9c2a-4fea-bd5e-f8e39cb119c1",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYKdcBeku2xqJNTG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8002/evaluate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_question",
              "value": "={{ $('When fetching a dataset row1').item.json.user_question }}"
            },
            {
              "name": "expected_answer",
              "value": "={{ $('When fetching a dataset row1').item.json.expected_answer }}"
            },
            {
              "name": "actual_answer",
              "value": "={{ $json.llm_response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        400
      ],
      "id": "33ec456a-4c6a-4530-89e5-79c9a6d91c99",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg",
          "mode": "list",
          "cachedResultName": "RAG Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 287104701,
          "mode": "list",
          "cachedResultName": "Sheet4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTXSjFpQqSab9_IjA4w1t7u-lt_hVZHSpTRsR8OptVg/edit#gid=287104701"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "llm_score": "={{ $json.semantic_similarity }}",
            "llm_rating": "={{ $json.rating }}",
            "user_question": "={{ $('When fetching a dataset row1').item.json.user_question }}"
          },
          "matchingColumns": [
            "user_question"
          ],
          "schema": [
            {
              "id": "user_question",
              "displayName": "user_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "expected_answer",
              "displayName": "expected_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_response",
              "displayName": "llm_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_score",
              "displayName": "llm_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_rating",
              "displayName": "llm_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -400,
        400
      ],
      "id": "0296d3a6-9aa8-456f-bf19-7bd3722d50b5",
      "name": "Add similarity & rating1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYKdcBeku2xqJNTG",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Question generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Question generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Question generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question generator": {
      "main": [
        [
          {
            "node": "Structure data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Add actual response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure data": {
      "main": [
        [
          {
            "node": "Add test data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add actual response": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Add similarity & rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Add similarity & rating1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2a6010f-1821-4767-b544-1333ee0605ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b63d654d1de0f5a859ba5298a29f8c330e5bedbbd1735e2fe43d613a8857bf9e"
  },
  "id": "t0douUFqDNtAj5CS",
  "tags": []
}