Expert_Data_governance_workflow.json
{
  "name": "Expert Data governance workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        500,
        220
      ],
      "id": "047d2d64-7b4e-4fab-840c-63e4f0d579c0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es expert en gouvernance de la donnée. Tu diagnostiques la maturité d'une organisation sur les dimensions qualité, accès, conformité, et culture data. Tu proposes des plans de gouvernance adaptés.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        980,
        160
      ],
      "id": "86ba8496-fa6e-4d90-a396-7a33935a4ad5",
      "name": "Expert Data Gouvernance"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        840,
        420
      ],
      "id": "9b381a65-212e-48a6-9831-e71da6a35cc7",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "0ToxoyhuLOq8AF8P",
          "name": "Groq account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "all-minilm:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1160,
        560
      ],
      "id": "dc331f49-dcce-4385-95b7-772767172473",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "dqKxdTg95sILOOot",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "The knowledge base to answer user questions",
        "qdrantCollection": {
          "__rl": true,
          "value": "knowledge_base_v1",
          "mode": "list",
          "cachedResultName": "knowledge_base_v1"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        1180,
        400
      ],
      "id": "b39c78f8-4067-44e4-a6df-711c1c9c204b",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "qAg98wkniOUQ9RVM",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        460
      ],
      "id": "7b137076-9c36-4d52-a48a-619518149f60",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kDmmT7LQfMoo1Q17",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Expert Data Gouvernance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Expert Data Gouvernance",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Expert Data Gouvernance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d8b1abb1-a293-4460-ad0c-5bbd6784012d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b63d654d1de0f5a859ba5298a29f8c330e5bedbbd1735e2fe43d613a8857bf9e"
  },
  "id": "I6rWnLX1oKnKOYAQ",
  "tags": []
}