test.json
{
  "name": "test",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/choose-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.user_question }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        700
      ],
      "id": "803cb845-105d-4ec6-bd8f-d3545cc922cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "Consultant IA workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9cd35781-fc80-4588-8557-23a92939a799"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultant IA "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0916c306-6670-4f8c-bed1-a902550b92e6",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "Analyste FinOps workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Analyste FinOps "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "70c6ef4c-c947-41d6-8624-a3c80b8e59da",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "Architecte Cybersécurité workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Architecte Cybersécurité "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "814803f2-6cd1-4433-8f65-6def3e75ca69",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "Expert Data Gouvernance workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Expert Data Gouvernance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d560878-6041-434b-81e1-b7a14fa6e71a",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "Expert Risk Management workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Expert Risk Management"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0796b76b-87bb-412e-9f0b-34e19ea04e85",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "Spécialiste Identity & Access Management workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spécialiste Identity & Access Management"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a61dada-930b-4438-9e27-2f63390a29d1",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "Ingénieur Privacy & Protection workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ingénieur Privacy & Protection"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51dfc2c8-c957-478d-b8fc-d6ed1ca643d8",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "Cloud Architect Workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cloud Architect "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "63baadf3-babf-4827-bd3e-52198e2cc56b",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "=Compliance Officer Workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Compliance Officer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dbdd3bdf-caa6-458f-9c4a-ed8b7eab6df2",
                    "leftValue": "={{ $json.selected_agent }}",
                    "rightValue": "DevSecOps Expert Workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DevSecOps Expert "
            }
          ]
        },
        "options": {
          "ignoreCase": true,
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1360,
        540
      ],
      "id": "4486f65b-65fc-4816-946b-a39c11a8019a",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5zb5YGWwZQ8GOX8i",
          "mode": "list",
          "cachedResultName": "consultant workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -260,
        -200
      ],
      "id": "57888271-d0fe-474c-97b2-242d3f182fec",
      "name": "Execute Consultant IA Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GL0mPP0b62wBDGTC",
          "mode": "list",
          "cachedResultName": "Finops Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -260,
        0
      ],
      "id": "67735366-ae22-484b-b0f7-48e1bcf168bd",
      "name": "Execute Analyste Finops  Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iONCdqvtybzh19lH",
          "mode": "list",
          "cachedResultName": "Architect Cybersecurity workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -260,
        220
      ],
      "id": "50cd82c2-8fbb-4158-b5f1-56119690e526",
      "name": "Execute Architecte Cybersecurity Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "I6rWnLX1oKnKOYAQ",
          "mode": "list",
          "cachedResultName": "Expert Data governance workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -260,
        440
      ],
      "id": "5f529589-f316-4ac8-b8ec-051fcb5f5db6",
      "name": "Execute Expert Data Governance Workflow"
    },
    {
      "parameters": {
        "command": "nohup uvicorn cyberagent.main2:app --host 0.0.0.0 --port 8000 --app-dir /home/rebhi/Desktop > /tmp/uvicorn.log 2>&1 &"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1880,
        380
      ],
      "id": "11fd8e62-8a63-44d8-b14a-55b3d153794c",
      "name": "Run Server",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2180,
        700
      ],
      "id": "3788e442-f1f0-4e73-8315-f8a0e8515f58",
      "name": "Wait",
      "webhookId": "4fe1f54b-99cd-4aa7-a16c-1ccedf1889b1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oLPJ0LX9gnnq6obt",
          "mode": "list",
          "cachedResultName": "Expert Risk Management workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -280,
        660
      ],
      "id": "8d0d6583-661b-4142-8ef6-a488f2a447ec",
      "name": "Execute Expert Risk Management workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NefyTA3FkrA1eixh",
          "mode": "list",
          "cachedResultName": "Spécialiste Identity & Access Management workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -280,
        860
      ],
      "id": "9c61699c-77ee-4556-b500-76312bc58d78",
      "name": "Execute Spécialiste Identity & Access Management workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wVJbCCrCN2x0ATuJ",
          "mode": "list",
          "cachedResultName": "Ingénieur Privacy & Protection workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -260,
        1080
      ],
      "id": "c047bb6d-ecb3-42de-8368-845676eb9c5f",
      "name": "Execute Ingénieur Privacy & Protection workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uTKXgs6G5yYoUBeZ",
          "mode": "list",
          "cachedResultName": "Cloud Architect Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -280,
        1280
      ],
      "id": "bdf39cad-4db0-4fd5-acf8-f581fd2faf2c",
      "name": "Execute Cloud Architect Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wkvE2UidaVZOZkIf",
          "mode": "list",
          "cachedResultName": "Compliance Officer Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -280,
        1520
      ],
      "id": "e0e66ce2-bd39-4589-b000-b614027280a3",
      "name": "Execute Compliance Officer Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "s5C9tP8RJxw1g29K",
          "mode": "list",
          "cachedResultName": "DevSecOps Expert Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -280,
        1720
      ],
      "id": "c0d5a94c-4bd1-4354-a2e9-a8e99e57af3e",
      "name": "Execute DevSecOps Expert Workflow"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_question"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2620,
        700
      ],
      "id": "8a469a71-38e0-4084-8ebb-d4b3569a88f0",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute Consultant IA Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Analyste Finops  Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Architecte Cybersecurity Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Expert Data Governance Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Expert Risk Management workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Spécialiste Identity & Access Management workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Ingénieur Privacy & Protection workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Cloud Architect Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Compliance Officer Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute DevSecOps Expert Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76e98ac1-b893-43da-a1a0-91e2fc5837b0",
  "meta": {
    "instanceId": "b63d654d1de0f5a859ba5298a29f8c330e5bedbbd1735e2fe43d613a8857bf9e"
  },
  "id": "bHaTwLafIGUcUOeb",
  "tags": []
}